/* -- Custom tabs -- */
ul {
    padding-left: 1.5em;
}
ul li {
    list-style-type: disc;
    line-height: 1.7em;
}
nav#tabs-alternative {
    border: 0;
    display: inline-block;
    width: 100%;
    margin: 30px 0 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
nav#tabs-alternative li {
    display: inline-block;
    margin: 0;
    width: 100%;
    margin: 0 10px 5px 0;
}
nav#tabs-alternative ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: -1px;
}
nav#tabs-alternative li a {
    padding: 5px 5px;
    display: block;
}
nav#tabs-alternative li a.active {
    background-color: #efefef;
}
nav#tabs-alternative + h2 {
    margin: 20px 0 15px 0;
}
/* -- end custom tabs -- */

/* -- Main search box -- */
.search-box {
    margin: 0 0 0;
}
.search-box .breather {
    padding: 1em;
}
.search-box input[type="search"], #global-container input[type="search"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    background: #efefef;
    width: 95%;
    margin: 5px 0;
    min-width: 200px;
}
.search-box input[type="submit"], #global-container input[type="submit"] {
    padding: 0.55em 1.5em;
    display: inline-block;
}
.search-box label {
    display: none;
}
.detail-container {
    background: #efefef;
}
.detail-container h2 {
    text-align: left;
    color: #222;
    font-size: 1.3em;
}
.detail-container table {
    text-align: left;
}
/* -- end main search box -- */

/* -- Custom table styles -- */
h4 {
    font-size: 1em;
    margin-top: 2em;
}

table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;

}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid #ddd;
}
.table .table {
    background-color: #fff;
}
table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
thead th {
    text-align: left;
    padding: 5px;
    color: #666;
    font-size: 0.9em;
}
tbody td {
    padding: 10px;
    vertical-align: top;
    font-size: 0.85em;
}
tbody tr.expanded td {
    background: #efefef url('../images/arrow.png') no-repeat center -3px;
    text-align: center;
}
.striped {
    width: 100%;
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    overflow-y: hidden;
}
.striped tbody tr {
    border-bottom: 1px solid #eee;
}
.striped tr td.x-small, .striped tr th.x-small {
    width: auto;
}
.striped tr td.medium, .striped tr th.medium {
    width: auto;
}
.striped tr td.large, .striped tr th.large {
    width: auto2;
}
.striped tr:nth-child(even) {
    background-color: #f8f8f8;
}
.striped tr.open {
    border-bottom: 0;
}
.striped td .highlight {
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
    padding: 3px 7px;
    font-size: 0.7em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.condensed td {
    padding: 7px;
}
.table-title {
    font-family: 'Bitter', sans-serif;
    margin-top: 12px;
}
/* -- end custom table styles -- */

/* -- Custom pagination  -- */
.manage-collections .pagination {
    margin-bottom: 1.5em;
}
.manage-collections .pagination li {
    font-family: 'Open sans', sans-serif;
    line-height: 20px;
    font-size: 1em;
    min-width: 20px;
    padding: 0.2em;
    color: #222;
    background-color: transparent;
    border: 1px solid #ddd;
}
.manage-collections .pagination li a {
    color: #2A5DB0;
}
.manage-collections .pagination li.next {
    background: none;
    border: 0;
}
.manage-collections .pagination li.current {
    color: #222;
    background-color: #efefef;
    font-weight: bold;
}
/* -- End custom pagination  -- */

/* -- Custom overlay/modal box  -- */
.js .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2001;
    background-color: rgba(0, 0, 0, 0.6);
}
.js .modal {
    min-height: 250px;
    position: fixed;
    background-color: #fff;
    border-radius: 5px;
    z-index: 2002;
    width: 90%;
    top: 20%;
    left: 5%;
}
.js .modal .breather {
    margin: 20px 10px;
}
.js .modal h4 {
    font-size: 1.3em;
}
/* -- end custom overlay/modal box  -- */

/* -- Custom input[type=file] styles -- */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    /* 20px */
    font-size: 0.8em;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.inputfile-6 + label {
    color: #099;
}
.inputfile-6 + label {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0;
}
.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #099;
}
.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.inputfile-6 + label span {
    width: 100px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    background-color: #999;
    display: inline-block;
}
.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #099;
}
/* -- end custom input[type=file] styles -- */

/* -- Miscellaneous custom styles/overrides  -- */
input:focus, select:focus {
    outline: 2px solid #FCE45C;
}
h2, h4 {
    color: #222;
}
.left-to-right {
    margin: 30px 0 0;
    width: 100%;
}
.title {
    font-weight: bold;
    width: 100px;
}
.horizontal {
    margin: 0;
    width: 100%;
}
.horizontal li {
    display: inline-block;
    font-size: 0.9em;
    color: #222;
    width: 100%;
    padding: 2px;
    margin: 5px 0;
}
.left-to-right a.discoveryPrimaryCallToActionLink {
    margin: 0;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
    background: transparent;
    color: #2b669a;
}

/* -- Option boxes -- */
.option-box-primary {
    background-color: #efefef;
}
.option-box-primary .breather {
    padding: 1em 0;
}
.option-box-primary a {
    margin-bottom: 0;
}
.option-box {
    border-bottom: 1px solid #ccc;
    padding: 20px 0 10px;
}
.option-box-secondary {
    padding: 20px 0 10px;
}

/* -- Inline styles -- */

.horizontal li span {
    margin: 5px 10px 5px 0;
}
.name {
    text-align: left;
    margin: 10px 0 5px 0;
    color: #222;
}
.small {
    font-size: 0.9em;
}
.expanded button {
    background-color: #099;
    color: #FFF;
    margin: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
}
.button-container {
    margin: 20px 0 40px;
}
.overlay h4 {
    margin-bottom: 20px;
}
.form-spacer {
    padding: 0;
    margin: 0;
}
.button-container input[type=submit] {
    margin-right: 10px;
    padding: 10px;
}
.no-js .form {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.item {
    padding: 20px 10px 10px;
    border-bottom: 1px dashed #ccc;
}
.item:last-child {
    margin-bottom: 2em;
}
.item p:first-child {
    color: #666;
    margin: 0;
    font-size: 0.9em;
}
.item p {
    margin: 0.3em;
}
.item h3 {
    font-size: 1em;
}
.item:nth-child(even) {
}
.item:nth-child(even) .spacer {
    border-bottom: 1px solid #999;
}
.item a.item-button {
    margin: 15px 0 0 0;
    width: 100px;
    text-align: center;
}

/* -- Progress bar (within item) -- */
.progress-indicator {
    font-size: 0.9em;
}
.progress-indicator p {
    padding: 5px 0;
    text-align: left;
    font-size: 1em !important;
}
.progress-indicator ul {
    margin: 0;
    padding: 0 5px 0 5px;
    color: #666;
    text-align: left;
}
.progress-indicator ul li {
    display: inline-block;
    margin: 0 25px 0 0;
    line-height: 2em;
    padding: 0 0 0 17px;
    background: url(../images/progress.png) no-repeat center left;
}
.progress-indicator ul li:first-child {
    margin-left: 0;
}
.progress-indicator ul li.complete {
    background: url(../images/ok.png) no-repeat center left;
}
.progress-indicator ul li.incomplete {
    background: url(../images/not-ok.png) no-repeat center left;
}
/* -- end Progress bar (within item) -- */

.error p {
    background: darkred;
    padding: 5px 15px;
    color: #fff !important;
    display: inline-block;
}
.spacer {
    margin: 0;
    padding: 20px 0 10px 10px;
    border-bottom: 1px solid #eee;
}
.filter-space {
    margin-bottom: 10px;
}
.min {
    min-height: 800px;
}
.warning {
    color: red !important;
}
.details {
    width: 100%;
    border-top: 1px solid #efefef;
    font-size: 0.9em;
}
.details ul {
    margin: 0.5em 0.4em;
    color: #999;
}
.removed td {
    color: #666;
}
p.larger {
    margin: 0;
    padding-top: 5px;
}
p.larger .highlight {
    background: transparent;
    color: #099;
}
.marked {
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
    padding: 3px 7px;
    background: #CB0D07;
    font-size: 0.7em;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
.collection {
    margin-top: 1.2em !important;
    margin-bottom: 1.2em;
    padding-left: 90px;
    min-height: 70px;
}
.upload {
    background: url(../images/upload.png) no-repeat left top;
}
.download {
    background: url(../images/download.png) no-repeat left top;
}
.delete {
    background: url(../images/delete.png) no-repeat left top;
}
.restore {
    background: url(../images/restore.png) no-repeat left top;
}
.error-block .upload {
    background: url(../images/upload-error.png) no-repeat left top;
}
.error-block .download {
    background: url(../images/download-error.png) no-repeat left top;
}
.error-block .delete {
    background: url(../images/delete-error.png) no-repeat left top;
}
.error-block .restore {
    background: url(../images/restore-error.png) no-repeat left top;
}
.warning-block .upload {
    background: url(../images/upload-warning.png) no-repeat left top;
}
.collection p {
    color: #222 !important;
    margin: 0.3em 0 !important;
    font-size: 0.9em;
}
.collection p.warning {
    color: red !important;
}
p.footnote, .footnote span {
    color: #999 !important;
}
.margin-top-medium {
    margin-top: 20px;
}
.button {
    background: #099;
    padding: 5px 10px;
    display: inline-block;
    text-align: right;
    margin-top: 0;
    color: #fff;
    font-size: 0.75em;
}
.emphasis-block button {
    margin-left: 20px;
    background-color: #222;
    padding: 4px 5px;
    color: #fff;
}
.error-block    {
    background: #fee2e2 !important;
    border-bottom: 2px solid #fff;
}
.item .button {
    background: transparent;
    color: #222;
    border: 1px solid #999;
    padding: 0.4em 0.7em;
    margin-top: 5px;
}
.warning-block    {
    background: #efefef !important;
    border-bottom: 2px solid #fff;
}
.warning-block .warning {
    color: #cc6600 !important;
}
button.secondary {
    background: #cc6600;
    margin-left: 5px;
    color: #fff;
}
p.status {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 0.8em;
}
.top-large {
    padding-top: 20px;
}
.top-none {
    margin-top: 0;
}

.containing-panel {
    background: #f8f8f8;
    margin-bottom: 1em;
    padding: 1em 0;
    border: 1px solid #eee;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    white-space: nowrap;
}
.containing-panel ul {
     margin: 0 0 0 1.5em;
     padding: 0;
}
.containing-panel ul li {
    margin: 0.5em 0;
    line-height: 1.2em;
    font-size: 1em;
    color: #333;
    list-style-type: none;
}
.containing-panel ul li.plus {
    padding: 0 0 0 1.5em;
    background: url('../images/plus.png') no-repeat;
    color: #2A5DB0;
}
.containing-panel ul li.expanded {
    padding: 0 0 0 1.5em;
    background: url('../images/minus.png') no-repeat;
}

.containing-panel ul li:hover {
    cursor: pointer;
}

.containing-panel ul li ul {
    display: none;
}
.containing-panel li.expanded > ul {
    display: block !important;
}
.containing-panel .current {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.information {
    background: none;
    border: 0;
    text-align: left;
    font-size: 0.9em;
    padding: 0.6em 0.6em 0.6em 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    margin-top: 20px;
}
#upload-form .information {
    border: 0;
    margin-top: 7px;
    padding: 0;

}
hr {
    margin: 10px 0 25px;
    border: 0;
    border-top: 1px dotted #999;

}
.toc {
    margin-bottom: 40px;
}
.toc li {
    padding: 7px;
    border-bottom: 1px dotted #ccc;
}
.back {
    text-align: left;
    font-size: 0.9em;
    margin: 0;
}
.min {
    min-height: 600px;
}
.border {
    border-top: 1px dotted #ccc;
    margin-top: 2em;
}
.border .breather {
    padding-top: 0 !important;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 9999;
    display: none;
}
.intro {
    padding: 17px;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    color: #222;
    position: relative;
    margin: 100px auto 0;
    width: 60%;
    display: none;
    border-radius: 0.5em;
    height: 350px;
    overflow-y: scroll;
}
.intro h2 {
    margin-top: 1.5em;
}
.intro .button {
    font-size: 1em;
    float: right;
}
#intro-content {
    display: none;
}
#global-container .filter-space {
    margin-bottom: 5px;
}
#global-container input[type="search"] {
    background: #fff;
    margin-left: 10px;
    margin-bottom: 0 !important;
    width: 100px !important;
}
#global-container {
    background: #dddddd;
    border: 1px solid #ccc;
    border-top: 0;
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 1.3em;
}
#global-container .breather {
    padding: 0.5em 0.7em;
}

.caption {
    font-size: 0.75em;
    color: #999;
}
.option-box p {
    display: inline-block;
    line-height: 1.2em;
    float: left;
    width: 225px;
    margin: 0 40px 0 0;
}

.definition p {
    color: #777;
    background-color: #fff;
    margin: 0 0 7px 0;
    padding: 15px 5% 15px 5%;
    border: 1px dotted #ccc;
    border-top: 0;
    width: 90%;
    margin-top: -10px;
}

.definition p span   {
    display: block;
    font-size: smaller;
}

.definition i {
    font-size: smaller;
    display: block;
    text-align: right;
    margin: 10px 0 0 0;
}

#mapping input[type=radio] {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

#mapping {
    padding: 5px 20px;
    min-height: 700px;
}

#mapping label {
    display: block;
    width: 100%;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 8px;
}

#mapping label:hover {
    cursor: pointer;
}

#mapping input:checked + label {
    background-color: #555;
    color: #fff;
    border-bottom: 2px solid #555;
}

#mapping ul {
    margin: 0;
    padding: 0;
    width: 95%;
}
#mapping ul li {
    list-style-type: none;
    margin: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
}
#mapping li span {
    color: #999;
    padding: 0 6px;
}
#mapping li a {
    font-size: 0.8em;
}
#mapping > div {
    width: 100%
}
#mapping > div:last-child {
    border: 0;
}
#mapping input[type="submit"] {
    text-align: center;
    font-size: 0.9em;
}
.feature-utilities-footer input[type="submit"] {
    text-align: right;
}
#feature-utilities-header {
    padding: 13px 20px;
    font-size: 1.1em;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    text-align: left;
    overflow: hidden;
    background-color: #fff;
}
.feature-utilities-footer {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 17px 0;
    min-height: 30px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}
#mapping {
    background: #efefef;
    padding-top: 200px;
    margin-bottom: 40px;
}
#feature-utilities-header h3 {
    display: inline-block;
    float: left;
    margin: 8px 0 0 0px;
    font-size: 1.2em;
    color: #fff;
}
#feature-utilities-header input {
    margin: 0 !important;
}
#mapping h3 a {
    font-size: 0.7em;
    margin-left: 10px;
    padding: 0.3em 0.5em;
}
#mapping h3 span, #feature-utilities-header h3 span {
    color: #405480;
    background-image: none;
    margin: 0 5px 10px 0;
}
#mapping h4 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
}
#feature-utilities-header .text-field {
    background: none;
    border: 0;
    text-align: left;
}
.feature-utilities-footer input[type="text"] {
    width: 40%;
    margin-left: 15px;
}
#feature-utilities-header label {
    margin-right: 20px;
}
#feature-utilities-header input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}
#feature-utilities-header input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}
#feature-utilities-header input[type="text"]::-ms-input-placeholder { /* IE 10+ */
    color: #999;
}
#feature-utilities-header input[type="text"]::-moz-placeholder { /* Firefox 18- */
    color: #999;
}
label[for=metadata-map] {
    margin-right: 10px;
}
.upload {
    margin: 20px 0 50;
}
.upload + .filter-space p.information  {
    padding-top: 9px;
    border-bottom: 1px solid #ccc;
    border-top: 0;
    margin: 0 0 60px 0;
    font-size: 1em;
}
.upload + .filter-space input[type=submit] {
    margin-left: 0.5em;
    font-size: 0.8em;
    padding: 5px 10px;
}
.upload + .filter-space select {
    margin-bottom: 0;
}
.no-margin {
    margin-bottom: 5px;
}
@keyframes pulse_animation {
    0% { background-color: rgba(252, 228, 92, .5); }
    100% { background-color: #fff; }
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.mandatory {
    color: #CB0D07;
    font-size: 0.9em;
}
.secondary-call {
    padding: 11px;
    background: #efefef;
    font-size: 1em;
}
.help-text {
    color: #405480;
    font-size: 0.9em;
    margin: 1.7em 0 0.7em !important;
    font-family: 'Bitter', sans-serif;
}
#map-container  {
    position: relative;
    margin-top: 40px;
}
.feature-utilities-footer .button-container {
    float: left;
    font-size: 0.9em;
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
}
.feature-utilities-footer label, .feature-utilities-footer input, .feature-utilities-footer a {
    float: left;
    display: block;
}
.feature-utilities-footer input[type=text] {
    width: 100%;
    margin: 10px 0 0 0;
}
.required {
    border: 1px solid #a6251f !important;
}
.single-container label {
    display: block;
    font-size: 1.1em;
    margin: 1.5em 0 0.8em 0;
    font-family: 'Bitter', sans-serif;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */



/* -- end miscellaneous custom styles/overrides  -- */

@media screen and (min-width: 768px) {
    .main {
        min-height: 1000px;
    }
    nav#tabs-alternative li a {
        padding: 7px 20px;
    }
    nav#tabs-alternative li a.active {
        padding: 7px 20px;
    }
    nav#tabs-alternative li {
        margin: 0;
    }
    nav#tabs-alternative li.selected {
        border-bottom: 1px solid #fff;
    }
    nav#tabs-alternative li.selected a {
        background-color: #fff;
    }
    nav#tabs-alternative li {
        width: auto;
    }
    .center {
        text-align: center;
    }
    .search-box .breather {
        padding: 1em;
    }
    .search-box input[type=search], #global-container input[type=search] {
        margin-bottom: 13px;
        width: 40%;
    }
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }
    .js .modal {
        top: 15%;
        left: 15%;
        width: 70%;
    }
    .js .modal .breather {
        margin: 40px;
    }
    .inputfile-6 + label span {
        width: 200px;
    }
    .item a.item-button {
        float: right;
        margin: -40px 20px 0 0;
        width: 100px;
        text-align: center;
    }
    .name {
        text-align: center;
    }
    .progress-indicator ul {
        margin-bottom: 0.8em;
    }
    .progress-indicator ul li {
        margin: 0 0 0 25px;
        line-height: 2em;
    }
    .progress-indicator p {
       display: inline;
    }
    .striped tr td.x-small, .striped tr th.x-small {
        width: 40px;
    }
    .striped tr td.medium, .striped tr th.medium {
        width: 175px;
    }
    .striped tr td.large, .striped tr th.large {
        width: 250px;
    }
}

@media screen and (min-width: 1024px) {
    #mapping h3 span, #feature-utilities-header h3 span {
        display: inline-block;
        width: 30px;
        height: 15px;
        text-align: center;
        padding-top: 5px;
        border-radius: 50%;
        color: #fff;
        background-color: #405480;
        background-image: none;
        margin: 0 5px 10px 0;
    }
    #mapping label {
        width: 93%;
    }
    .definition p {
        width: 83%;
    }
    #mapping > div {
        border-right: 1px dotted #ccc;
        width: 31.2%
    }
    .left-to-right {
        float: right;
        margin: 0;
        width: auto;
    }
    .horizontal {
        margin: 0;
        font-size: 0.9em;
    }
    .horizontal li {
        font-size: 1em;
        color: #222;
        display: inline;
        border: 0;
        margin-right: 15px;
    }
    .left-to-right a.discoveryPrimaryCallToActionLink {
        text-align: center;
        font-size: 0.9em;
        margin: 1px 0 1px 10px;
        background-color: #099;
        color: #FFF;
    }
    .js .modal {
        top: 20%;
        left: 30%;
        width: 40%;
    }
    .containing-panel {
        background: #f8f8f8;
        margin-bottom: 1em;
        padding: 1em 0;
        border: 1px solid #eee;
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        display: block;
        white-space: normal;
    }
    .width-three-quarters {
        width: 75%;
    }
    .sticky {
        position: fixed;
        top: 0;
        padding: 20px;
        background: #ddd;
        border-bottom: 4px solid #ccc;
        margin: 0 !important;
        border-radius: 0 0 10px 10px;
        z-index: 1000;
    }
    .sticky + #mapping {
        padding-top: 60px;
    }
    #map-container  {
        position: relative;
        margin-top: 30px;
    }
    .feature-utilities-footer .button-container {
        float: right;
        margin: 0;
        width: auto;
    }
    .feature-utilities-footer input[type=text] {
        width: 400px;
        margin: 0 0 0 20px;
    }
    #mapping {
        padding-top: 90px;
    }

}



